.movielist-wrapper {
  padding-top: 120px;
  padding: 120px 10vw 120px 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #efefef;
  background-image: url(./bg1.avif);
  h1 {
    font-family: "Karla";
    color: #f44545;
    font-size: 4rem;
    text-align: center;
  }

  .filterbar {
    font-family: "Karla";
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin: 40px 0;
  }
}

.primaryButton {
  font-family: "Karla";
  font-weight: 700;
  padding: 12px 24px;
  border: 1px solid #f44545;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color: #efefef00;
}

.primaryButton:hover {
  border: none;
  background-color: #f44545;
}

.movielist {
  margin: 16px auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 24px;
}

@media screen and (max-width: 800px) {
  .movielist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .movielist {
    grid-template-columns: repeat(1, 1fr);
  }
}
